@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Oleo+Script+Swash+Caps:wght@400;700&display=swap");

.form-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    // h1 {
    //     color: white;
    // }

    .form-logo {
        font-size: 36px;
        color: var(--color-text-primary);
        font-family: var(--logo-font);
        margin-right: 8px;
        position: absolute;
        bottom: -0.25em;
        right: -1em;
        line-height: 95%;
        // filter: drop-shadow(0px 0px 40px white);

        // div:nth-child(1)::before,
        // div:nth-child(2)::before {
        //     content: "";
        //     position: absolute;
        //     width: 80%;
        //     height: 30px;
        //     top: 15%;
        //     left: 10%;
        //     background-color: white;
        //     z-index: -1;
        //     box-shadow: 0px 0px 10px 10px white;
        // }

        div:nth-child(2) {
            position: relative;
            left: 0.5em;
        }
    }

    .form-rainbow {
        width: 300px;
        height: auto;
    }

    .cloud {
        position: absolute;
        fill: white;
        width: 240px;
        height: auto;
        fill-rule: nonzero;
        right: -76px;
        bottom: -46px;
        // filter: drop-shadow(0px 0px 1px black);
        // stroke: black;
        // stroke-width: 2px;
    }
}
