.input-container {
    position: relative;
    padding: 0px 40px 6px 40px;

    width: 326px;

    .form-label {
        display: flex;
        flex-direction: column;
        margin-bottom: 12px;
        // width: 250px;
        // position: relative;

        span {
            font-weight: 600;
            margin-bottom: 6px;
            color: var(--color-text-primary);
            // font-size: 14px;
            font-size: 16px;
        }

        input {
            // font-size: 14px;
            font-size: 16px;

            padding: 10px 12px;
            border-radius: 6px;
            border: 1px solid var(--color-input-primary);
            background-color: var(--color-input-contrast-bg);
            outline: none;
            transition: border-color 200ms ease, box-shadow 200ms ease, background-color 200ms ease;

            &:focus {
                border-color: var(--color-state-focus-border);
                box-shadow: var(--color-state-focus-shadow);
                background-color: white;
            }
        }

        &.error {
            span {
                color: var(--color-text-danger);
            }
            input {
                border-color: var(--color-input-tooltip-error-border);
            }
        }
    }
    // .form-label {
    //     color: gray;
    //     font-weight: 600;
    //     span {
    //         position: absolute;
    //         left: 12px;
    //         top: calc(50% - 10px);
    //         transition: top 150ms linear, font-size 150ms linear;

    //         &.active {
    //             top: 0px;
    //             font-size: 10px;
    //         }
    //     }

    //     .form-input {
    //         height: 52px;
    //         width: 100%;
    //         box-sizing: border-box;
    //         border: 1px solid lightgray;
    //         border-radius: 999px;
    //         font-size: 16px;
    //         padding: 0 12px;
    //         outline: none;
    //         transition: padding-top 150ms linear;

    //         &.active {
    //             padding-top: 12px;
    //         }

    //         &:focus {
    //             border: 1px solid gray;
    //             // outline-color: gray;
    //         }
    //     }
    // }
}
