.input-container {
    position: relative;
    margin: 0px 40px 6px 40px;
    width: 268px;

    .form-label {
        color: gray;
        font-size: 14px;
        span {
            position: absolute;
            left: 6px;
            top: calc(50% - 9px);
            transition: top 150ms linear, font-size 150ms linear;

            &.active {
                top: 0px;
                font-size: 10px;
            }
        }

        .form-input {
            height: 36px;
            width: 100%;
            box-sizing: border-box;
            border: 1px solid lightgray;
            border-radius: 2px;
            font-size: 14px;
            padding: 0 6px;
            outline: none;
            transition: padding-top 150ms linear;

            &.active {
                padding-top: 12px;
            }

            &:focus {
                border: 1px solid gray;
                // outline-color: gray;
            }
        }
    }
}
