#map-route {
    overflow-x: hidden;
    overflow-y: hidden;
    color: var(--color-text-primary);
    // width: 100vw;
    #map-route-body {
        display: flex;
    }
}

#upload-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    .dark-background {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    #upload-modal {
        position: relative;
        width: 480px;
        background-color: white;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid lightgray;
        border-radius: 6px;
        transition: height 200ms ease;

        #modal-nav {
            width: 100%;
            display: flex;
            justify-content: space-between;
            // position: absolute;
            // left: 0px;
            // top: 0px;
            padding-bottom: 12px;
            border-bottom: 1px solid var(--color-border-primary);

            button {
                // ? Maybe make a styled component?

                // border: none;
                // background-color: white;
                // padding: 1em;
                // font-size: 16px;
                // font-weight: 600;
                // // color: gray;
                // color: var(--color-text-primary);
                // cursor: pointer;
                // transition: color 200ms ease;

                border-radius: 6px;
                border: none;
                color: white;
                background-color: var(--primary-blue);
                padding: 8px 16px;
                font-size: 14px;
                line-height: 20px;
                font-weight: 500;
                font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
                cursor: pointer;
                transition: background-color 200ms ease;
                align-self: flex-start;
                margin-top: 12px;

                &:hover {
                    background-color: var(--primary-blue-hover);
                }
            }

            #back-button {
                margin-left: 12px;
            }

            #next-button {
                margin-right: 12px;
            }

            // #back-button:hover {
            //     color: var(--primary-blue);
            // }

            // #next-button:hover {
            //     color: var(--primary-blue);
            // }
        }

        #modal-close-container {
            position: absolute;
            right: 10px;
            top: 10px;
            align-self: flex-end;
            // margin-bottom: 20px;
            // margin: 10px 10px 20px 0px;
            #modal-close {
                border-radius: 100px;
                width: 30px;
                height: 30px;
                cursor: pointer;
                background-color: gray;
                color: #eee;
                border: none;
                font-size: 18px;
                // display: flex;
                // justify-content: center;
                // align-items: center;

                &:hover {
                    background-color: black;
                }
            }
        }

        // TODO: change styling
        #modal-drop {
            width: 100%;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            // margin-bottom: 20px;
            font-size: 14px;
            border-bottom: 1px solid var(--color-border-primary);

            #modal-drop-label {
                padding: 12px 16px;
                border: 3px dashed var(--primary-blue);
                background-color: var(--color-input-contrast-bg);
                border-radius: 4px;
                // font-size: 14px;
                font-weight: 700;
                // color: gray;
                color: var(--primary-blue);
                &.active {
                    border-color: var(--primary-blue);
                }
            }
        }
        #modal-actions {
            width: 100%;
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // margin-bottom: 20px;
            #file-input,
            #file-upload-button {
                z-index: -1;
                position: absolute;
                opacity: 0;
            }
            label {
                // margin-bottom: 20px;
                font-size: 14px;
                font-weight: 700;
                cursor: pointer;
                // color: gray;
                color: var(--primary-blue);

                display: flex;
                // justify-content: center;
                // align-items: center;
                transition: color 200ms ease, fill 200ms ease;

                border-radius: 6px;
                border: none;
                color: white;
                background-color: var(--primary-blue);
                padding: 12px 16px;
                // font-size: 14px;
                line-height: 20px;
                // font-weight: 500;
                font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
                cursor: pointer;
                transition: background-color 200ms ease;
                // align-self: flex-start;
                // margin-top: 12px;

                // &:hover {
                //     background-color: var(--primary-blue-hover);
                // }

                // &:hover {
                //     color: var(--primary-blue);
                //     svg {
                //         fill: var(--primary-blue);
                //     }
                // }

                svg {
                    width: 18px;
                    height: 18px;
                    margin-right: 10px;
                    // fill: gray;
                    // fill: var(--primary-blue);
                    fill: white;
                }

                &:hover {
                    background-color: var(--primary-blue-hover);
                }
            }
            #modal-divider {
                margin-bottom: 20px;
                font-size: 14px;
                font-weight: 700;
                color: gray;
            }
            #modal-text-picker {
                width: 50%;
                #modal-paste-label {
                    position: relative;
                    width: 100%;
                    span {
                        position: absolute;
                        display: none;
                    }
                    #modal-paste-input {
                        width: 100%;
                        height: 24px;
                        font-size: 14px;
                        text-align: center;
                        font-weight: 700;
                    }
                }
            }
        }

        #submitted-image-container {
            width: 100%;
            // margin-top: 42px;
            // margin-bottom: 20px;
            display: flex;
            justify-content: center;
            padding: 12px 0px;
            border-bottom: 1px solid var(--color-border-primary);

            #submitted-image {
                width: calc(100% - 24px);
                // border-radius: 6px;
            }
        }

        #post-submission-error {
            color: red;
            font-size: 14px;
        }

        #post-inputs {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 12px 0;
            // label {
            //     width: 100%;
            //     box-sizing: border-box;
            #caption {
                width: calc(100% - 24px);
                height: 60px;
                box-sizing: border-box;
                font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
                resize: none;
                border-radius: 6px;

                font-size: 14px;
                padding: 5px 12px;
                border-radius: 6px;
                border: 1px solid var(--color-input-primary);
                background-color: var(--color-input-contrast-bg);
                outline: none;
                transition: border-color 200ms ease, box-shadow 200ms ease,
                    background-color 200ms ease;

                &:focus {
                    border-color: var(--color-state-focus-border);
                    box-shadow: var(--color-state-focus-shadow);
                    background-color: white;
                }
            }
            // }
        }

        #spinner-backdrop {
            // background-color: black;
            // opacity: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 120px;
            height: 120px;
            border-radius: 4px;

            margin: 60px 0px;
            span {
                // color: gray;
                color: var(--color-text-primary);
                font-weight: 600;
            }
            div.spinner {
                height: 40px;
                width: 40px;
                opacity: 65%;

                div {
                    background-color: black;
                }
            }
        }
    }
}
