#login {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // background-color: #eee;

    .form-container {
        border: 1px solid lightgray;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-radius: 2px;
        margin-bottom: 10px;
    }
}

#submission-error {
    color: red;
    div {
        margin: 20px 40px;
        width: 268px;
        text-align: center;
        font-size: 14px;
    }
}

#sign-up-modal {
    background-color: white;
    // width: 268px;
    box-sizing: border-box;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 40px;
        width: 268px;
        font-size: 14px;

        a {
            text-decoration: none;
            color: #0095f6;
            font-weight: 600;
            margin-left: 2px;
        }
    }
}
