.login {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    // background-color: #eee;
    // border-radius: 8px;

    $inner-margin: 10%;

    .logo-column {
        flex: 1;
        z-index: 1;
        display: flex;
        height: 100vh;
        align-items: flex-start;
        justify-content: center;

        .form-logo-container {
            margin-right: $inner-margin;
            margin-top: 10%;
        }
    }

    .form-column {
        flex: 1;
        z-index: 1;
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        align-items: flex-start;

        .form-container {
            // width: 420px;
            margin-left: $inner-margin;
            // border: 1px solid lightgray;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20%;
            z-index: 1;

            #login-form {
                background-color: white;
                border-radius: 0.75rem;
                padding: 24px 0;
                margin-bottom: 12px;
            }

            // .form-logo-container {
            //     left: -22px;
            // }
        }
    }
}

#submission-error {
    color: red;
    div {
        margin: 20px 40px;
        width: 268px;
        text-align: center;
        font-size: 14px;
    }
}

#sign-up-modal {
    color: var(--color-text-primary);
    background-color: white;
    // width: 268px;
    box-sizing: border-box;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem;
    // width: 420px;
    //
    p {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 40px;
        // width: 268px;
        width: 326px;
        // font-size: 14px;
        font-size: 16px;

        a {
            text-decoration: none;
            color: #0095f6;
            font-weight: 600;
            margin-left: 2px;
        }
    }
}

.wavy-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 85%;
    z-index: 0;
    // transform: scaleX(-1);
    // fill: white;
    // fill: #454a55;
    fill: #3a3e49;

    // fill: var(--primary-blue);
}
